:root {
  --first-title-color: #212121;
  --second-title-color: #ffffff;
  --first-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --first-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --accent-bg-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-text-color);
  background-color: var(--first-bg-color);
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-link.current {
  color: var(--accent-color);
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

/* --------HEADER--------- */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  color: #000;
}

.header-nav,
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link {
  color: var(--first-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.auth-link {
  color: var(--first-text-color);
}

.auth-link:hover,
.auth-link:focus {
  color: var(--accent-color);
}

/* --------HERO--------- */

.hero {
  margin-bottom: 94px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
  background: var(--second-bg-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  background: var(--accent-bg-color);
}

/* -------FEATURES------- */

.features {
  margin-bottom: 94px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/* --------SERVICES--------- */

.services {
  margin-bottom: 94px;
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 50px;
}

/* --------TEAM--------- */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 50px;
}

.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 10px;
}

.team-member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/* --------FOOTER--------- */

.footer {
  background: var(--second-bg-color);
}

.contacts-link-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.logo-white {
  color: #fff;
}

/* --------PROJECT--------- */

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-button-list {
  margin-bottom: 30px;
}

.project-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.project-btn:hover,
.project-btn:focus {
  color: var(--second-text-color);
  background: var(--accent-bg-color);
  cursor: pointer;
}

.project-description {
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--first-title-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
